# Authentication settings
#auth-service:  ptc        # ptc (default) or google
#username: rest1ve
#password: zxasqw 

# Database settings
#db-type: sqlite        # sqlite (default) or mysql
#db-host:               # required for mysql
#db-name:               # required for mysql
#db-user:               # required for mysql
#db-pass:               # required for mysql

# Search settings
#location: Mykonos, Greece
#no-gyms:               # disables gym scanning (default false)
#no-pokemon:            # disables pokemon scanning (default false)
#no-pokestops:          # disables pokestop scanning (default false)
#num-threads:           # number of search threads (default 1)
#scan-delay:            # default 5
#step-limit: 10            # default 12

# Misc
#gmaps-key: AIzaSyCf7OxLIiXA7-t3EoKuVBjoDK4OsJpLHsE            # your Google Maps API key
#webhook:               # webhook URL (including http://)

# Webserver settings
#host:                  # address to listen on (default 127.0.0.1)
#port:                  # port to listen on (default 5000)
